<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>Home | Curator Studio</title>
</head>
<body>
    
    <nav>
        <h1>@curator_studio</h1>
        <div>
            <a href="/api/auth/login">Log in</a>
            <a href="/api/auth/register">Sign up</a>
        </div>
    </nav>
    
    <main>
        <h1>Visual Silence.</h1>
        <p>An editorial and minimalist environment tailored for modern creatives.</p>
        
        <div>
            <p>Premium Hero Image</p>
        </div>
    </main>

    <nav>
        <a href="/">Home</a>
        <a href="/api/auth/profile">Profile</a>
    </nav>
    
</body>
</html>